.post {
  background: white;
  color: #666;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 10px;
  box-shadow: 1px 1px 10px;
  padding: 10px;
}

.post--selected {
  border: 1px solid blue;
}

.post-image {
  background: #eee;
  display: block;
  padding-top: 75%;
  position: relative;
  width: 100%;
}

.post-image img {
  display: block;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.post-image.is-3by2 {
  padding-top: 66.6666%;
}

.post-image.is-16by9 {
  padding-top: 56.25%;
}

.post-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}

.post-title {
  color: #333;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: bold;
  font-weight: 700;
  line-height: 1.2;
}

.post-content {
  flex: 1;
  margin-top: 5px;
}

.post-info {
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
}
